@use "../../../global" as *;

.p-deduction-process__sub-title {
  margin-top: 1.2rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px dashed $color-border;

  @include mq(sm) {
    margin-top: 2.4rem;
    font-size: calc(1.2rem + 12 * (100vw - 576px) / 416); //12px~24pxで可変
  }

  @include mq(lg) {
    font-size: 2.5rem;
  }
}

.p-deduction-process__content {
  padding: 1.2rem 0.8rem;

  @include mq(md) {
    padding: 2.4rem 1.6rem;
  }
}

.p-deduction-process__text {
  font-weight: 300;
  font-size: 1.1rem;

  @include mq(sm) {
    font-size: calc(1.1rem + 11 * (100vw - 576px) / 416); //11px~22pxで可変
  }

  @include mq(lg) {
    font-size: 2rem;
  }
}

.p-deduction-process__text--sm {
  font-size: 1rem;
  transform: scale(0.9);
  transform-origin: left;

  @include mq(sm) {
    font-size: calc(0.9rem + 9 * (100vw - 576px) / 416); //9px~18pxで可変
  }

  @include mq(lg) {
    font-size: 1.4rem;
  }
}

.p-deduction-process__text--md {
  font-weight: 300;
  font-size: 1rem;

  @include mq(sm) {
    font-size: calc(1rem + 10 * (100vw - 576px) / 416); //10px~20pxで可変
  }

  @include mq(lg) {
    font-size: 1.9rem;
  }
}

.p-deduction-process__table {
  width: 100%;
  text-align: center;
  border-collapse: separate; // セルの境界線の間隔を空ける
  border-spacing: 2px;

  @include mq(sm) {
    border-spacing: 4px;
  }

  @include mq(lg) {
    max-width: 616px;
    margin-right: auto;
    margin-left: auto;
  }
}

.p-deduction-process__table--lg {
  font-size: 1.6rem;
  font-weight: 800;

  @include mq(sm) {
    font-size: calc(3.2rem + 16 * (100vw - 576px) / 416); //16px~32pxで可変
  }

  @include mq(lg) {
    font-size: 3rem;
  }
}

.p-deduction-process__table--vertical {
  writing-mode: vertical-lr;
}

.p-deduction-process__table--red {
  color: $color-accent2;
}

.p-deduction-process__table tr + tr {
  height: 165px;

  @include mq(sm) {
    height: 30vw;
  }

  @include mq(md) {
    height: 32vw;
  }

  @include mq(lg) {
    height: 184px;
  }
}

.p-deduction-process__table th {
  vertical-align: middle;
  padding: 0.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: $color-text2;
  background: $color-accent1;

  @include mq(sm) {
    font-size: calc(1rem + 10 * (100vw - 576px) / 416); //10px~20pxで可変
  }

  @include mq(lg) {
    padding: 0.7rem 1.2rem;
    font-size: 1.4rem;
  }
}

.p-deduction-process__table td {
  padding-top: 0.8rem;
  padding-right: 1rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  vertical-align: middle;
  font-size: 1rem;
  border: 2px solid $color-accent1;

  @include mq(sm) {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-size: calc(1rem + 15 * (100vw - 576px) / 416); //10px~15pxで可変
  }

  @include mq(lg) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }
}

.p-deduction-process__table tr + tr td div {
  gap: 5px;

  @include mq(sm) {
    gap: 20px;
  }
}
