// color-palette
$palette-white: #FFF;
$palette-gray: #f2f2f2;
$palette-dark-gray: #cccccc;
$palette-black: #333333;
$palette-red: #e50430;
$palette-blue: #4787C7;
$palette-pink: #ED7FA5;

// color
$color-background1: $palette-white;
$color-background2: $palette-gray;
$color-heading-background: $palette-pink;
$color-text1: $palette-black;
$color-text2: $palette-white;
$color-accent1: $palette-pink;
$color-accent2: $palette-red;
$color-accent3: $palette-blue;
$color-link: $palette-blue;
$color-border: $palette-dark-gray;