<!-- .l-footer -->
<footer class="l-footer">
  <div class="l-footer__inner">
    <ul class="l-footer__list">
      <li class="l-footer__item"><a href="<%= path%>/index.html">HOME</a></li>
      <li class="l-footer__item"><a href="https://search.rakuten.co.jp/search/mall/?sid=404432">商品一覧</a></li>
      <li class="l-footer__item"><a href="https://www.rakuten.co.jp/kyonokaigobin/info2.html">決済・配送・返品</a></li>
      <li class="l-footer__item"><a href="https://www.rakuten.co.jp/kyonokaigobin/info.html">会社概要</a></li>
      <li class="l-footer__item"><a href="https://ask.step.rakuten.co.jp/inquiry-form/?page=simple-inquiry-top&act=login&ms=500&shop_id=404432">お問い合わせ</a></li>
      <li class="l-footer__item"><a href="https://basket.step.rakuten.co.jp/rms/mall/bs/cartempty/;jsessionid=11252309B8AD43180FEB20BBFBEEF9B5">買い物カゴ</a></li>
      <div class="l-footer__top-link">
        <a href="https://www.rakuten.co.jp/"><p>楽天市場トップ</p></a>
      </div>
    </ul>
    <div class="l-footer__copyright">&copy;京の介護便</div>
  </div>
  <div class="c-button--top js-scroll-top">
    <a>
      <!-- <img src="<%= path%>/asset/img/arrow-top.svg" alt="" /> -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <rect x="47" y="14.75" width="6" height="25.25" />
        <polygon points="61.88 13 39.13 13 39.13 16.5 47 16.5 41.01 22.49 41.01 30.55 47 24.56 47 40 54 40 54 24.56 59.99 30.55 59.99 22.49 54 16.5 61.88 16.5 61.88 13" />
      </svg>
      <p>TOPへ<br />戻る</p>
    </a>
  </div>
</footer>
<!-- /.l-footer -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="<%= path%>asset/js/calendar.js"></script>
<script src="<%= path%>asset/js/script.js?ver.1.0.4"></script>
